<div
  class="{{#if ( isEqual type "invalid")}}
  bg-red100 text-red800
  {{else}}
    {{#if ( isEqual type "warning")}}
        bg-yellow100 text-yellow800
    {{else}}
        bg-green100 text-green800
    {{/if}}
  {{/if}} font-bold p-2 rounded shadow-md text-center w-56"
>{{description}}
</div>