<div id="author-{{id}}" class="flex bg-white justify-center items-center border-secundaryHover border-b rounded h-10">
    <input hidden name="options" type="text" value="{{id}}" readonly ></input>
    <div class="flex justify-between items-center w-full p-3.5">
    <label>{{description}}</label>
    <a class="cursor-pointer text-remove text-2xl" onclick="onRemove('author-{{id}}')" > &times;</a>
    </div>
</div>