<a
  class="shadow-md w-56 rounded h-32 bg-white flex justify-center items-center space-x-3 hover:text-primary"
  href="{{href}}"
>
  <span class="material-symbols-outlined">
    {{icon}}
  </span>
  <div class="text-xl">
    {{description}}
  </div>
</a>