<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../css/output.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    ></script>
  </head>
  <body class="bg-base">
    <div class="w-full">
      {{> header}}
      <div class="flex justify-center h-4/5">
        {{{body}}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>