@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: 241 245 249;
    --color-primary: 14 165 233;
    --color-white: 255 255 255;
    --color-remove: 220 38 38;
    --color-black: 0 0 0;

    --color-slate-200: 226 232 240;

    --color-red-100: 254 226 226;
    --color-red-800: 153 27 27;

    --color-yellow-100: 254 249 195;
    --color-yellow-800: 133 77 14;

    --color-green-100: 220 252 231;
    --color-green-800: 22 101 52;

    --color-secundary: 241 245 249;
    --color-secundary-hover: 203 213 225;
  }
}
