<form class="flex flex-col w-2/4" action="{{view.action}}" method="POST">
    <h2 class="font-semibold leading-7">{{view.title}}</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600 ">{{view.description}}</p>
    <div class="flex flex-col justify-between bg-base basis-full">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        {{> Input 
        class="sm:col-span-3" 
        description="Nome" 
        name="name" 
        value=user.name
        type="text"
        required=true
        }}

        {{> Input 
        class="sm:col-span-3" 
        description="E-mail" 
        name="email" 
        value=user.email
        type="email"
        required=true
        error=errors.email.text
        }}

        {{> Input 
        class="sm:col-span-3" 
        description="Username" 
        name="username" 
        value=user.username
        type="text"
        required=true
        error=errors.username.text
        }}

        {{> Input 
        class="sm:col-span-3" 
        description="Senha" 
        name="password" 
        value=user.password
        type="password"
        required=view.user.password.required
        }}

        {{> select options=view.authorsSelect description="Função do usuario" class="col-span-full" showLabel=true name="type" }}
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-3 content-end">
        {{> button text="Cancelar" width="sm:w-auto" bgColor="bg-white" textColor="text-black" class="ring-1" onClick="onCancel(event)" }}
        {{> button text="Salvar"}}
    </div>
  </div>
</form>


<script>
    function onCancel(event) {
    event.preventDefault();
    event.stopImmediatePropagation()
    history.back();
  }
</script>