<div class="flex flex-col space-y-5 justify-center items-center h-full">
  <h2 class="text-8xl font-bold">403</h2>
  <label class="text-lg">
    Você não tem permissão para visualizar essa página
  </label>
  {{> Button text="Voltar" onClick="window.location.href='/'"}}
</div>