<form class="flex flex-col w-2/4 " action="{{view.form.action}}" method="POST">
  <h2 class="font-semibold leading-7">{{view.title}}</h2>
  <p class="mt-1 text-sm leading-6 text-gray-600 ">{{view.description}}</p>
  <div class="flex flex-col justify-between bg-base basis-full">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      {{> Input 
      class="sm:col-span-3" 
      description="Titulo" 
      name="title" 
      value=article.title
      type="text"
      required=true
      }}

      {{> Input 
      class="sm:col-span-3" 
      description="Link PDF" 
      name="linkPdf" 
      value=article.linkPdf
      type="text"
      }}

      {{> 
      TextArea 
      name="summary" 
      rows="5" 
      value=article.summary 
      description="Resumo" 
      class="col-span-full" 
      }}

      {{> SearchFieldButton 
      name="authors"
      href=view.author.search.href 
      selecteds=article.authors
      placeHolder="Pesquisar autor por nome..." }}
      <label class="text-remove col-span-full">
        {{errors.author.text}}
      </label>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-3 content-end">
      {{> button text="Cancelar" width="sm:w-auto" bgColor="bg-white" textColor="text-black" class="ring-1" onClick="onCancel(event)" }}
      {{> button text="Salvar"}}
    </div>
  </div>
</form>

<script>

  function onCancel(event) {
    event.preventDefault();
    event.stopImmediatePropagation()
    history.back();
  }


  async function onSearchAutor( event ) {

    event.preventDefault();
    event.stopImmediatePropagation()

    const authorName = document.getElementById("default-search").value;

    const response = await fetch(`http://localhost:8082/article/autor/${authorName}`)

    const json = await response.json();

    console.log(json)

    onAddAuthorOptions( json )

  }

  function onRemoveAuthor( idElement ) {
      document.getElementById(idElement).remove();
  }

  function onSelectAuthor( option ) {

    document.getElementById("dropdown").classList.toggle("hidden");

    var containerAuthors = document.getElementById("container-authors");

    // TODO estudar alguma maneira de alterar isso, codigo esta duplicado
    var input = `<div id="author-${option.id}" class="flex bg-white justify-center items-center border-secundaryHover border-b rounded h-10">
      <input hidden name="authors" type="text" value=${option.id} readonly ></input>
      <div class="flex justify-between items-center w-full p-3.5">
         <label> ${option.text}</label>
         <a class="cursor-pointer text-remove text-2xl" onclick="onRemoveAuthor('author-${option.id}')" > &times;</a>
      </div>
    </div>`

    containerAuthors.innerHTML += input;

  }

  function onCreateAuthorOption( author ) {

    const html = `
    <option
      href="#"
      class="block px-4 py-2 hover:bg-base"
      onclick="onSelectAuthor({
        id: this.value,
        text: this.text
      })"
      value=${author.id}
    >${author.name}
    </option>`

    return html;
  }

  function onAddAuthorOptions( authors ) {

      var dropdown = document.getElementById("dropdown");

      if( authors.length === 0  ){
        dropdown.classList.add("hidden");
        return;
      }

      dropdown.classList.toggle("hidden");

      const html = authors.map( ( current ) => {
        return onCreateAuthorOption( current );
      } ).join(" ");

      var divConteudo = document.getElementById('dropdownOptions');

      divConteudo.innerHTML = html;
  }

</script>

